.banner-image{
    max-width: 100%;
}

.products-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 8px;
}

.product{
    border: 1px solid black;
    padding: 16px;
    margin-bottom: 8px;
}

.old-price{
    text-decoration: line-through;
}