.banner-image{
    max-width: 100%;
    width:1000%;
    height: 400px;
}

.products-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 8px;
}

.product{
    border: 1px solid black;
    padding: 16px;
    margin-bottom: 8px;
}

.old-price{
    text-decoration: line-through;
}

.sale{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* display: inline-block; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color:white

    /* 
        reserach on css-postitions
            relative
            absolute

            static
            fixed
            sticky
    */
}